.env
.env.*
!.env.example
/vendor/
/database/lost_found.sql
/database/lost_found_current_export.sql
/database/update_passwords.php
/storage/framework/cache/data/*
!/storage/framework/cache/data/.gitkeep
/storage/framework/sessions/*
!/storage/framework/sessions/.gitkeep
/storage/framework/views/*
!/storage/framework/views/.gitkeep
/storage/logs/*
!/storage/logs/.gitkeep
/bootstrap/cache/*.php
!/bootstrap/cache/.gitkeep
uploads/avatar/*
!uploads/avatar/.gitkeep
uploads/barang/*
!uploads/barang/.gitkeep
